@import url('./reset.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  padding: 36px 156px;
}

.is-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.loader {
  margin-top: 16px;
  color: #000;
  display: inline-block;
  position: relative;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  text-align: center;
  align-items: center;
}

.loader::after {
  content: '';
  width: 5px;
  height: 5px;
  background: currentColor;
  position: absolute;
  bottom: 10px;
  right: -5px;
  box-sizing: border-box;
  animation: animloader 1s linear infinite;
}

@keyframes animloader {
  0% {
    box-shadow: 10px 0 rgba(255, 255, 255, 0), 20px 0 rgba(255, 255, 255, 0);
  }

  50% {
    box-shadow: 10px 0 white, 20px 0 rgba(255, 255, 255, 0);
  }

  100% {
    box-shadow: 10px 0 rgb(23, 4, 4), 20px 0 rgb(21, 2, 2);
  }
}

.form {
  display: flex;
  gap: 8px;
  justify-content: center;
}

.input {
  padding-left: 10px;
  border-radius: 5px;
  border: 1px solid #808080;
  min-width: 272px;
  height: 40px;
  box-sizing: border-box;
}

.input:hover {
  border: 1px solid #4E75FF;
}

.button {
  cursor: pointer;
  background-color: #4E75FF;
  color: #fff;
  font-style: Montserrat;
  font-size: 16px;
  letter-spacing: 0.64px;
  line-height: 1.5em;
  border: none;
  border-radius: 5px;
  min-width: 91px;
  height: 40px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.gallery-img {
  width: 360px;
  height: 200px;
}

.gallery-list {
  display: flex;
  gap: 28px;
  text-align: center;
  font-family: Montserrat;
  font-size: 10px;
  letter-spacing: 0.48px;
  line-height: 2em;
}
